# DB config

DB_HOST = db_host_ip
DB_NAME = posgresql_db_name
DB_USER = posgresql_username
DB_PASSWORD = postgresql_user_password
DB_PORT = posgresql_db_port_number

# NETWORK DEVICES CREDENTIALS

CISCO_LOGIN = login_for_cisco_network_devices
CISCO_PASSWORD = password_for_cisco_network_devices
UBUNTU_SERVER_LOGIN = login_for_ubuntu_server
UBUNTU_SERVER_PASSWORD = password_for_ubuntu_server

# File paths

LOG_PATH = path/for/log/file
INVENTORY_PATH = path/for/inventory/yaml/file